@use "variables" as v;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white; // !!!!! Delete later 
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: v.$vr-dk-blue;
}

button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.orange{
  background-color: v.$orange;
}

.blue{
  background-color: v.$soft-blue
}

.pink{
  background-color: v.$pink;
}

.lime{
  background-color: v.$lime;
}

.purple{
  background-color: v.$purple;
}

.yellow{
  background-color: v.$yellow
}
