$blue: hsl(246, 80%, 60%);
$orange: hsl(15, 100%, 70%); // work
$soft-blue: hsl(195, 74%, 62%); // play
$pink: hsl(348, 100%, 71%); //study
$lime: hsl(145, 58%, 55%); // exercise
$purple: hsl(264, 64%, 52%); //social
$yellow: hsl(43, 84%, 65%); // self-care
$vr-dk-blue: hsl(226, 43%, 10%);
$dk-blue: hsl(235, 46%, 20%);
$dk-blue-hover: hsl(235, 35%, 30%);
$desat-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$white: hsl(0, 0%, 100%);
