@forward "media";
@forward "reset";
@use "variables" as v;

article {
  width: 90%;
  margin: 6rem auto 0 auto;
}

.user {
  background-color: v.$dk-blue;
  flex-direction: column;
  border-radius: 1.5rem;
  transform: translateY(-2rem);

  &__name {
    background-color: v.$blue;
    justify-content: center;
    gap: 1.55rem;
    align-items: center;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
  }

  img {
    width: 5.75rem;
    border: 2px solid v.$white;
    border-radius: 50%;
  }

  &__name-data h1 {
    font-size: 1.3rem;
    font-weight: 300;
    color: v.$pale-blue;

    span {
      font-size: 2.25rem;
      margin-top: 0.75rem;
    }
  }

  &__stats {
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;

    button {
      color: v.$desat-blue;
      transition: 0.3s ease;

      &:hover {
        color: v.$white;
      }
    }
  }
}

.card {
  height: 40%;
  border-radius: 1.5rem;

  &__image {
    justify-content: flex-end;
    overflow: hidden;

    img {
      width: 5.5rem;
      height: 5.5rem;
      transform: translate(-1.5rem, -0.6rem);
    }
  }

  &__data {
    background-color: v.$dk-blue;
    padding: 3rem;
    transform: translateY(-2rem);
    border-radius: 1.5rem;
    gap: 0.75rem;
    flex-direction: column;

    cursor: pointer;
    transition: 0.08s ease-in-out;

    &-title {
      justify-content: space-between;
      align-items: center;
      h2 {
        font-weight: 500;
      }
      img {
        transition: 0.1s ease-out;
      }
      button:hover img {
        filter: brightness(1.5);
      }
    }

    &-time {
      justify-content: space-between;
      align-items: center;

      p {
        &:first-of-type {
          font-size: 3rem;
          font-weight: 300;
        }

        &:last-of-type {
          font-size: 1.25rem;
          color: v.$pale-blue;
        }
      }
    }

    &:hover {
      background-color: v.$dk-blue-hover;
    }
  }
}
