@forward "media";
@forward "reset";
@use "variables" as v;

main {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

article {
  width: 90%;
  margin: 0 auto;
}

.user {
  flex-direction: column;
}

.user__data {
  background-color: v.$blue;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  border-radius: 2rem;
  z-index: 9;
  gap: 2rem;
  transform: translateY(2rem);
  img {
    width: 22%;
    border: 2px solid v.$white;
    border-radius: 50%;
  }
  h1 {
    color: v.$pale-blue;
    font-weight: 300;
    font-size: 1.35rem;
    span {
      display: block;
      margin-top: 0.4rem;
      font-weight: 300;
      font-size: clamp(2rem, 3vw, 4.5rem);
      color: v.$white;
    }
  }
}

.user__states {
  background-color: v.$dk-blue;
  padding: 3.5rem 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  justify-content: space-between;
  button {
      transform: translateY(.7rem);
    color: v.$desat-blue;
    font-size: 1.5rem;
  }
}

.image {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 9rem;
  overflow: hidden;
  transform: translateY(5rem);
  img {
    position: relative;
    left: 71%;
    bottom: 6%;
  }
}

.data {
  background-color: v.$dk-blue;
  padding: 3rem;
  flex-direction: column;
  border-radius: 2rem;
  gap: 1rem;
  position: relative;

  &__activity {
    justify-content: space-between;
    h2 {
      color: v.$white;
      font-weight: 500;
      font-size: 1.45rem;
    }
  }
  &__time {
    justify-content: space-between;
    align-items: center;
    p {
      color: v.$white;
      font-size: 3rem;
      font-weight: 300;
    }
    h3 {
      color: v.$pale-blue;
      font-weight: 300;
      font-size: 1.35rem;
    }
  }
}
